.hire-page.container.ph-
  %div
    %header
      %h1
        %span.h1-name Hi, I'm Nima

    %p I'm a software engineer, entrepreneur, passionate about usability, design and details.

    %p
      I live in Paris and I like to work on front-end architecture and Ruby On Rails applications. I love UX, design,
      %a{ href: 'https://500px.com/nimz_co' } photography
      and music.

    %p
      I currently work as a freelancer (we can
      %a{ href: 'hire' } work together
      if you want).
      I previously co-founded CoursAvenue as CTO in late 2012 until late 2015.

