.hire-page.container.ph-
  %div
    %header
      %h1
        %span.h1-name Hi, I'm Nima

    %p Software engineer, entrepreneur, passionate about usability, design and details.
    %h2 About me
    %p
      I'm a software engineer living in Paris. I create front-end architecture and Ruby On Rails applications. I love UX, design,
      %a{ href: 'https://500px.com/nimz_co' } photography
      and music.
    %p
      I currently work as a freelancer, you can
      %a{ href: 'hire' } hire me.
      I previously co-founded CoursAvenue in late 2012.

