- content_for :title do
  About Nima Izadi

.hire-page.container.ph-
  %div
    %header
      %h1
        %a.h1-name{ href: '/' } Hi, I'm Nima

    %p I'm a software engineer, entrepreneur, passionate about usability, design and details.

    %a.profile-image.muted-link{ href: 'https://instagram.com/p/uDV-kvHr76/', target: :_blank }
      %img{ src: 'https://scontent-cdg2-1.cdninstagram.com/hphotos-xtp1/t51.2885-15/e15/925177_615044595211285_1289626753_n.jpg', height: 250, width: 250 }
    %p
      Born and raised in the
      %a{ href: 'https://500px.com/photo/14332065/nice-for-christmas-by-nima-izadi', target: :_blank  } south of France,
      I moved to Paris few years ago. I'm half
      %a{ href: 'https://instagram.com/p/5QCzLnHr_u/', target: :_blank  } French
      half
      %a{ href: 'https://instagram.com/p/lva_ATnryF/', target: :_blank  } Persian
      and I hope that someday Iranian people will be free.
    %p
      After graduating from an engineering school I worked on everything related to the web.
      Mainly on frontend architecture and Ruby On Rails applications. I love UX, design,
      %a{ href: 'https://500px.com/nimz_co', target: :_blank  } photography
      and music.

    %p
      I previously co-founded CoursAvenue in late 2012 until late 2015. Before that I worked as a freelancer for multiple companies in Paris and gave a
      %a{ href: 'https://speakerdeck.com/nimz_co', target: :_blank  } few talks
      at
      %a{ href: 'http://www.meetup.com/parisrb/', target: :_blank  } ParisRB
      and
      %a{ href: 'http://www.meetup.com/france-html5-user-group/', target: :_blank  } France HTML5
      meetup groups.

    %p
      I use my free time to stay tuned to the latest technologies,
      I listen to multiple
      %a{ href: 'http://atp.fm/', target: :_blank  } podcasts
      in the tech industry — big fan of the big fruit company.
      %a{ href: '/background' }
        Here is a little more about my background if you want.

%footer.site-footer © #{Date.today.year} Nima Izadi
