- content_for :title do
  About Nima Izadi

.hire-page.container.ph-
  %div
    %header
      %h1
        %a.h1-name{ href: '/' } Hi, I'm Nima

    %p I'm a software engineer, entrepreneur, passionate about usability, design and details.

    %a.profile-image.muted-link{ href: 'https://instagram.com/p/uDV-kvHr76/', target: :_blank }
      %img{ src: 'https://scontent-cdg2-1.cdninstagram.com/hphotos-xtp1/t51.2885-15/e15/925177_615044595211285_1289626753_n.jpg', height: 250, width: 250 }
    %p
      I was born and raised in the
      %a{ href: 'https://500px.com/photo/14332065/nice-for-christmas-by-nima-izadi', target: :_blank  } south of France
      where I had the chance to discover the
      %a{ href: 'https://instagram.com/p/lva_ATnryF/', target: :_blank  } Persian culture
      thanks to my family.
    %p
      After graduating from an engineering school I jumped into web technologies. As a software engineer I work mainly on front end and UX focused projects.

    %p
      I previously co-founded a startup (CoursAvenue) in late 2012 until late 2015 when I was living in Paris. I worked as a freelancer for multiple companies and gave a
      %a{ href: 'https://speakerdeck.com/nimz_co', target: :_blank  } few talks
      at
      %a{ href: 'http://www.meetup.com/parisrb/', target: :_blank  } ParisRB
      and
      %a{ href: 'http://www.meetup.com/france-html5-user-group/', target: :_blank  } France HTML5
      meetup groups. I also helped kickstart
      %a{ href: 'https://snapshift.co/', target: :_blank  } Snapshift.co

    %p
      I use my free time to learn piano, listen to
      %a{ href: 'http://atp.fm/', target: :_blank  } podcasts.
      Here is a little more
      %a{ href: '/background' }
        about my background
      if you want.

%footer.site-footer © #{Date.today.year} Nima Izadi
