- content_for :title do
  Let's work together | Nima Izadi

.hire-page.container.ph-
  %div
    %header
      %h1
        Background

    %h2 Technologies
    %p.mb-
      Here is a short list of technologies, framework and apps I am familiar with:
    %ul
      %li Ruby・Ruby On Rails・Sinatra
      %li React・React Native・Redux・Backbone.js
      %li OOCSS + BEM
      %li Sketch・Photoshop

    %h2 Current

    %h3
      Senior front-end developper @
      %a.header-link{ href: 'https://www.shopify.com/', target: '_blank' } Shopify
    %p.mb-
      Shopify is a leading cloud-based, multichannel commerce platform designed for small and medium-sized businesses. Merchants can use the software to design, set up and manage their stores across multiple sales channels, including web, mobile, social media such as Pinterest and Facebook, brick-and-mortar locations, and pop-up shops. The platform also provides a merchant with a powerful back-office and a single view of their business.

    %p.color-gray
      Ruby On Rails・React・React Native・Redux・OOCSS

    %h2 Previous

    %h3
      CTO & angel investor @
      %a.header-link{ href: 'https://www.snapshift.co/', target: '_blank' } Snapshift
    %p.mb-
      Snapshift.co is the first French online scheduling and Saas HR management solution for restaurants.
    %p.mb-
      I helped start the project on the tech part and recruit the core team. I also worked closely on the product.
    %p.color-gray
      Ruby On Rails・React・React Native・Redux・OOCSS + BEM・Heroku

    %h3
      Founder & CTO @
      %a.header-link{ href: 'https://www.coursavenue.com/', target: '_blank' } CoursAvenue
      %i— Exited
    %p.mb-
      %a{ href: 'https://www.coursavenue.com' } CoursAvenue.com
      is a market place that connects people who are looking for leisure classes (dance, yoga, painting, etc.) and teachers who are looking for new students.
    %p.mb-
      It was founded in late 2012 and was accelerated by the NUMA sprint program in Paris. The project was backed by a business angel in early 2014 with 240k€ funding.
    %p.mb-
      As CTO, I was in charge of all of the technical aspects from ops, architectural design (front and back) and recruitment. I was involved in designing the product itself. I ran user tests to improve UX and overall product.
    %p.mb-
      Metrics: 3k visitors/day・4k teachers・25k courses・+10k reviews

    %p.color-gray
      Ruby On Rails・Backbone.js・React・Flux・OOCSS + BEM・Rspec・CircleCI・Heroku・Algolia

    %h3
      Senior front end engineer @
      %a.header-link{ href: 'http://hivebrite.com/', target: '_blank' } Hivebrite
    %p.mb-
      Hivebrite is a networking platform for communities (schools, NGOs, or companies). It provides tools for community managers to communicate and engage with people: emailing; events; job boards; groups.
    %p.mb-
      As a front end developer I set up the CSS architecture and introduced React & Redux to the existing Backbone application. I also updated the UI and improved the UX of the backoffice.
    %p.color-gray
      Ruby On Rails・Backbone.js・React・Redux・OOCSS + BEM

    %h3
      Front end engineer @
      %a.header-link{ href: 'https://idol.io', target: '_blank' } IDOL
    %p.mb-
      IDOL is a company specialized in digital distribution for independent music labels.
    %p.mb-
      As a fullstack developer I improved the tools used for uploading meta data. I also developed a HTML5 player using their internal music library.
    %p.color-gray
      Ruby On Rails・Backbone.js・OOCSS + BEM

    %h3
      Front end engineer @ MESH
    %p.mb-
      In collaboration with a professor of orthopaedic surgery, MESH was an information system for the health industry that helped track and analyse orthopaedic consultations.
    %p.mb-
      As a front end developer I was mainly responsible of creating the structure of the web application and working on user interface.
    %p.color-gray
      Ruby On Rails・Backbone.js・OOCSS + BEM

%footer.site-footer © #{Date.today.year} Nima Izadi
