- content_for :title do
  Let's work together | Nima Izadi

.hire-page.container.ph-
  %div
    %header
      %h1
        Hire
        %a.h1-name{ href: "http://nimz.co/about" } Nima
    %h2 About me
    %p
      Software engineer, entrepreneur, passionate about usability, design and details.
      Here's a
      %a{ href: 'http://nimz.co/about' } little more about me
      if you're curious.

    %p
      I am available for Ruby On Rails and frontend consulting. I can work in your office or remotely depending on your location and your needs.

    -# %h2 Rates
    -# %p
    -#   900€ / day ($1000 / day) + vat
    -#   %br
    -#   150€ / hour ($1000 / day) + vat

    %h2 Technologies
    %p.mb-
      Here is a short list of technologies, framework and apps I am familiar with:
    %ul
      %li Ruby; Ruby On Rails; Sinatra
      %li React; Redux; Backbone.js
      %li OOCSS
      %li Sketch; Photoshop

    %h2 Previous

    %h3
      Founder & CTO @
      %a.header-link{ href: 'https://www.coursavenue.com/', target: '_blank' } CoursAvenue
    %p.mb-
      %a{ href: 'https://www.coursavenue.com' } CoursAvenue.com
      is a market place that connects people who are looking for leisure classes (dance, yoga, painting, etc.) and teachers who are looking for new students.
    %p.mb-
      It was founded in late 2012 and was accelerated by the NUMA sprint program in Paris. The project was backed by a business angel in early 2014 with 240k€ funding.
    %p.mb-
      As CTO, I was in charge of all of the technical aspects from ops, architectural design (front and back) and recruitment. I was involved in designing the product itself. I ran user tests to improve UX and overall product.
    %p.mb-
      Metrics: 3k visitors/day・4k teachers・25k courses・+10k reviews

    %p.color-gray
      Ruby On Rails; Backbone.js; React; Flux; OOCSS; Rspec; CircleCI; Heroku ; Algolia

    %h3
      Senior front end engineer @
      %a.header-link{ href: 'http://hivebrite.com/', target: '_blank' } Hivebrite
    %p.mb-
      Hivebrite is a networking platform for communities (schools, NGOs, or companies). It provides tools for community managers to communicate and engage with people: emailing; events; job boards; groups.
    %p.mb-
      As a front end developer I set up the CSS architecture and introduced React & Redux to the existing Backbone application. I also updated the UI and improved the UX of the backoffice.
    %p.color-gray
      Backbone.js; React; Redux; OOCSS; Gulp; Ruby On Rails

    %h3
      Front end engineer @
      %a.header-link{ href: 'https://idol.io', target: '_blank' } IDOL
    %p.mb-
      IDOL is a company specialized in digital distribution for independent music labels.
    %p.mb-
      As a fullstack developer I improved the tools used for uploading meta data. I also developed a HTML5 player using their internal music library.
    %p.color-gray
      Backbone.js; OOCSS; Ruby On Rails

    %h3
      Front end engineer @ MESH
    %p.mb-
      In collaboration with a professor of orthopaedic surgery, MESH was an information system for the health industry that helped track and analyse orthopaedic consultations.
    %p.mb-
      As a front end developer I was mainly responsible of creating the structure of the web application and working on user interface.
    %p.color-gray
      Backbone.js; OOCSS; Ruby On Rails

    %p
      Interested to work with me? Let's
      %a{ href: 'mailto:hi@nimz.co?subject=I want to work with you' } connect.

%footer.site-footer © #{Date.today.year} Nima Izadi
