- content_for :title do
  Let's work together | Nima Izadi

.hire-page.container.ph-
  %div
    %header
      %h1
        Hire
        %a.h1-name{ href: "http://nimz.co/about" } Nima
    %h2 About me
    %p
      Software engineer, entrepreneur, passionate about usability, design and details.
      Here's a
      %a{ href: 'http://nimz.co/about' } little more about me
      if you're curious.

    %p
      I am available for Ruby On Rails and frontend consulting. I can work in your office or remotely depending on your location and your needs.

    -# %h2 Rates
    -# %p
    -#   900€ / day ($1000 / day) + vat
    -#   %br
    -#   150€ / hour ($1000 / day) + vat

    %h2 Technologies
    %p.mb-
      Here is a short list of technologies, framework and apps I am familiar with:
    %ul
      %li Ruby ; Ruby On Rails ; Sinatra
      %li React ; Redux ; Backbone.JS
      %li OOCSS
      %li Sketch ; Photoshop

    %h2 Previous

    %h3
      %a.header-link{ href: 'https://www.coursavenue.com/', target: '_blank' } CoursAvenue
    %p.mb-
      I founded the
      %a{ href: 'https://www.coursavenue.com' } CoursAvenue
      in late 2012 and have been backed by business angels in 2014. As CTO I was in charge of creating the web application.
    %p.color-gray
      Backbone.JS ; React ; Redux ; OOCSS ; Ruby On Rails ; Rspec ; CircleCI ; Heroku

    %h3
      %a.header-link{ href: 'http://hivebrite.com/', target: '_blank' } Hivebrite
    %p.mb-
      As part of the team for few months, I have helped creating the frontend architecture. I was also involved of updating their UI and important parts of the application (Frontoffice & Backoffice).
    %p.color-gray
      Backbone.JS ; React ; Redux ; OOCSS ; Gulp ; Ruby On Rails

    %h3
      %a.header-link{ href: 'https://idol.io', target: '_blank' }
        IDOL
    %p.mb-
      As a fullstack developer I was mainly in charge of the frontend architecture.
      I updated the existing UI of their internal app and I have developed a Backbone / HTML5 player using their internal music librairy.
    %p.color-gray
      Backbone.JS ; OOCSS ; Ruby On Rails

    %p
      Interested to work with me? Let's
      %a{ href: 'mailto:hi@nimz.co?subject=I want to work with you' } connect.

%footer.site-footer © #{Date.today.year} Nima Izadi
