.hire-page.container.ph-
  %div
    %header
      %h1
        Hire
        %a.h1-name{ href: "http://nimz.co/about" } Nima
    %h2 About me
    %p
      Software engineer, entrepreneur, passionate about usability, design and details.
      Here's a
      %a{ href: 'http://nimz.co/about' } little more about me
      if you're curious.

    %p
      I am available for Ruby On Rails and front-end consulting.

    %h2 Rates
    %p
      600€ / day (or $700 / day).
    %p I can work in your office or remotely depending on your location and your needs.

    %p
      Interested to work with me? Let's
      %a{ href: 'mailto:hi@nimz.co?subject=I want to work with you' } connect.

