- content_for :title do
  Nima Izadi, frontend architect & Ruby On Rails freelance

.table.about-page
  .table-cell.ph-
    %header
      %svg{:height => "100px", :version => "1.1", :viewBox => "0 0 1023 536", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
        %g#Page-1{:fill => "none", "fill-rule" => "evenodd", "sketch:type" => "MSPage", :stroke => "none", "stroke-width" => "1"}
          %g#Glasses-icon-1.icon-logo{"sketch:type" => "MSArtboardGroup"}
            %path#Path-1{:d => "M472.765156,222.36651 C466.903675,224.818689 464.884602,231.673242 464.884602,231.673242 C464.884602,231.673242 462.179829,240.491197 469.227711,245.474687 C476.275593,250.458177 476.736713,249.385797 478.616383,253.085519 C480.496052,256.785242 472.765156,426.908258 310.40221,426.908258 C148.039265,426.908258 140.759662,282.185825 136.139576,275.372006 C129.413466,265.452171 108.442799,260.100781 108.442799,260.100781 L108.442799,206.110066 C108.442799,206.110066 123.857506,204.106697 138.376713,201.150072 C152.895919,198.193447 165.187764,194.19308 165.187764,194.19308 C165.187764,194.19308 220.239979,129.777857 304.245136,129.777857 C388.250294,129.777857 452.776752,189.060072 452.776752,189.060072 C452.776752,189.060072 483.651966,183.477118 515.887257,183.477117 C548.122547,183.477117 578.99775,189.060072 578.99775,189.060072 C578.99775,189.060072 643.524208,129.777857 727.529366,129.777857 C811.534523,129.777857 866.586738,194.19308 866.586738,194.19308 C866.586738,194.19308 878.878583,198.193447 893.397789,201.150072 C907.916996,204.106697 923.331704,206.110066 923.331704,206.110066 L923.331704,260.100781 C923.331704,260.100781 902.361036,265.452171 895.634926,275.372006 C891.01484,282.185825 883.735238,426.908258 721.372292,426.908258 C559.009346,426.908258 551.27845,256.785242 553.15812,253.085519 C555.037789,249.385797 555.498909,250.458177 562.546791,245.474687 C569.594674,240.491197 566.889901,231.673242 566.889901,231.673242 C566.889901,231.673242 564.870827,224.818689 559.009346,222.36651 C553.522727,220.071156 478.251775,220.071156 472.765156,222.36651 Z M307,405 C385.976719,405 450,347.46859 450,276.5 C450,205.53141 385.976719,148 307,148 C228.023281,148 164,205.53141 164,276.5 C164,347.46859 228.023281,405 307,405 Z M723,405 C644.023281,405 580,347.46859 580,276.5 C580,205.53141 644.023281,148 723,148 C801.976719,148 866,205.53141 866,276.5 C866,347.46859 801.976719,405 723,405 Z", "sketch:type" => "MSShapeGroup"}
      %h1.h1--white
        I'm
        = succeed "," do
          %a.h1-name{ href: 'about' } Nima
        fullstack Rails software engineer
        %br
          in love with frontend architecture
    %p
      %a.link--white{ href: 'hire' } Hire me
    %footer
      %ul.nav
        %li
          %a.link--white{:href => "https://www.twitter.com/nimz_co", :target => "_blank"}
            Twitter
        %li
          %a.link--white{:href => "https://www.github.com/nimzco", :target => "_blank"}
            Github
        %li
          %a.link--white{:href => "https://speakerdeck.com/nimz_co", :target => "_blank"}
            SpeakerDeck
        %li
          %a.link--white{:href => "https://instagram.com/nimz_co", :target => "_blank"}
            Instagram
        %li
          %a.link--white{:href => "https://500px.com/nimz_co", :target => "_blank"}
            500px
