- content_for :title do
  Sketch templates for iOS / XCode AppIcons and LaunchImages

.container.container--large.ph-
  %h1
    AppIcon & LaunchImages made easy.

  %p Simple sketch templates that gives you the right sizes for your icons and launch images. Finally.

  %p.mb-
    %a.btn.btn--light{ href: "https://github.com/nimzco/sketch-templates-appicons-launchimages/raw/master/iOS_Templates_AppIcon_LaunchImage.sketch", target: "_blank"}
      Download
  %p.mb-
    %a.link--white.f-size-small{ href: "https://github.com/nimzco/sketch-templates-appicons-launchimages", target: "_blank"}
      Contribute

.container.container--very-large
  .grid
    .grid__item.one-half>
      %a.link-image{ href: "https://github.com/nimzco/sketch-templates-appicons-launchimages/raw/master/iOS_Templates_AppIcon_LaunchImage.sketch", target: "_blank"}
        %img{ src: 'assets/sketch-template_2.png'}
    .grid__item.one-half>
      %a.link-image{ href: "https://github.com/nimzco/sketch-templates-appicons-launchimages/raw/master/iOS_Templates_AppIcon_LaunchImage.sketch", target: "_blank"}
        %img{ src: 'assets/sketch-template_1.png'}
