/*------------------------------------*\
    #FOUT
\*------------------------------------*/

/*
 * Prevent from font to FOUT
 */

.wf-loading {
    p, h1, h2, h3, ul, {
        opacity   : 0;
        transition: all 300ms cubic-bezier(0.24, 0.93, 0.54, 0.98);
    }
}

.wf-active {
    p, h1, h2, h3, ul, {
        opacity   : 1;
        transition: all 300ms cubic-bezier(0.24, 0.93, 0.54, 0.98);
    }
}
