/**
 * Links
 */
a {
  color: inherit;
  text-decoration: none;
  position: relative;
  white-space: nowrap;

  &::after {
    transition: all 50ms linear;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: $yellow;
  }
}

a:active, a:visited {
  color: inherit;
}

a:hover {
  cursor: pointer;

  &::after {
    height: 3px;
  }
}

.link--white {
  color: white;
  &::after {
    height: 0;
  }
}

.muted-link {
  &, &:hover { border-bottom: none; }
}

.semi-muted-link {
  & { border-bottom: none; }
}

.header-link {
  font-family: inherit;
}
