/**
 * Links
 */
a {
    font-family    : "chaparral-pro-caption", serif;
    color          : inherit;
    text-decoration: none;
    border-bottom  : 1px solid $red;
    transition     : all 50ms linear;
}

a:active, a:visited {
    color: inherit;
}

a:hover {
    border-bottom: 3px solid $red;
    cursor: pointer;
}

.link--white {
    border-bottom  : 3px solid transparent;
}

.muted-link {
    &, &:hover { border-bottom: none; }
}

.header-link {
    font-family: inherit;
}
