@import "settings/global";

@import "inuit/settings/*";
@import "inuit/tools/*";
@import "inuit/components/*";

@import "base/*";
@import "helpers/*";
@import "objects/*";

.home-page-wrapper {
  &, body { height: 100%; }
}

.home-page, .sketch-page {
    margin          : 0;
    background-color: #53ACFE;
    text-align      : center;
    background      : linear-gradient(50deg, #53ACFE 0%, #6BDE84 100%);
    color           : #FFF;
}

.hire-page {
    color: #555;
}

