@import "settings/global";

@import "inuit/settings/*";
@import "inuit/components/*";

@import "base/*";
@import "objects/*";

.about-page {
    margin          : 0;
    background-color: #00203A;
    text-align      : center;
    background      : radial-gradient(#043761, #00203A);
    color           : #EEE;
}

.hire-page {
    background: white;
    color     : #444;
}

.container {
    margin : auto;
    width  : 650px;
    padding: 1em;
}

.table {
    display: table;
    width  : 100%;
    height : 100%;
}
.table-cell {
    display       : table-cell;
    vertical-align: middle;
}

.icon-logo {
    fill: #EEEEEE;
    fill: rgba(255, 255, 255, 0.9);
}
