/**
 * Fonts
 */
$header_typeface   : 'Scope One', serif;
$typeface          : 'Scope One', serif;



/**
 * Colors
 */
$red               : #B50808;
$accent            : #53fe9c;
$dark_blue         : #00203A;
$dark_blue__lighter: #043761;
$gray              : #888888;
