$header_typeface   : "chaparral-pro-display", serif;
$typeface          : "chaparral-pro", serif;

/* Colors */
$red               : #B50808;
$dark_blue         : #00203A;
$dark_blue__lighter: #043761;
