.home-page-wrapper {
  height: 100%;
  height: 100vh;
  min-height: 200px;
  position: relative;
  background-color: #007dff;
  background: linear-gradient(118deg, #53fe9c, #007dff);
  padding: 1.5em;
}

.home-page {
  height: 100%;
  margin: 0;
  text-align: center;
  color: #FFF;
}

.container {
  max-width: 700px;
}

.home-page__view-more {
  position: absolute;
  bottom: 2em;
  left: 50%;
  margin-left: -20px;
  animation: floating 5s cubic-bezier(0.02, 0.81, 0.28, 1.01) infinite;

  svg {
    display: inline-block;
    opacity: 0.6;
    width: 40px;
    fill: white;
  }
}

@keyframes floating{
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  1% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

.header-logo {
  opacity: 80%;
  transition: all 250ms cubic-bezier(0.15, 1.01, 0.65, 0.85);

  svg {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
  }

  &:hover {
    opacity: 100%;

    svg {
      filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
    }
  }
}

.footer-logo {
  opacity: 80%;
  position: absolute;
  bottom: 0.5em;
  right: 1em;
}
