/**
 * Navs
 */
.nav {
  padding-left: 0;
  font-size: 0.7em;
}

.nav li {
  display: inline-block;
  line-height: 2em;
  margin-right: 1em;

  &:last-child {
    margin-right: 0;
  }
}

.nav a {
  font-weight: bold;
}

.nav--social li {
  margin: 0;
}

.nav--social a {
  padding: 8px;
}

.nav--social svg {
  height: 22px;
  width: 22px;
  vertical-align: middle;
  opacity: 0.8;
  fill: white;
}

.nav--social a:hover {
  &::after {
    display: none;
  }

  svg {
    opacity: 1;
  }

  .logo--youtube {
    fill:#FF0000 !important;
  }

  .logo--instagram {
    fill: #bc2a8d;
  }

  .logo--twitter {
    fill: #1DA1F2;
  }

  .logo--github {
    fill: black;
  }

  .logo--linkedin {
    fill: #2867B2;
  }
}
