/**
 * Navs
 */
.nav {
  padding-left: 0;
  font-size: 0.7em;
}

.nav li {
  display: inline-block;
  line-height: 2em;
  margin-right: 1em;
}

.nav a {
  font-weight: bold;
}

.nav svg {
  height: 20px;
  width: 20px;
  fill: white;
}
